body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #050801;
}

button:nth-child(1) {
    color: aqua;
}

button:nth-child(2) {
    color: yellow;
}

button:nth-child(3) {
    color: fuchsia;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    margin: 20px;
    text-transform: uppercase;
    background: transparent;
    outline: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 300ms;
}

button:hover {
    border: 2px solid;
    box-shadow: 0 0 5px;
}

button:nth-child(1):focus {
    color: #050801;
    border: 2px solid aqua;
    background: aqua;
    box-shadow: 0 0 20px aqua;
}

button:nth-child(2):focus {
    color: #050801;
    border: 2px solid yellow;
    background: yellow;
    box-shadow: 0 0 20px yellow;
}

button:nth-child(3):focus {
    color: #050801;
    border: 2px solid fuchsia;
    background: fuchsia;
    box-shadow: 0 0 20px fuchsia;
}