@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-wrapper {
    width: 1250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 23px;
    border-bottom: 1px solid rgb(214, 212, 212);
}

.contacts {
    display: flex;
}

.contacts-item {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-left: 45px;
}

.contacts-item img {
    width: 51px;
    height: 51px;
    margin-right: 23px;
}

.text-container {
    max-width: 218px;
}

.text-container h3 {
    margin: 0;
    text-transform: uppercase;
}

.text-container p {
    margin: 0;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-menu:hover {
    cursor: pointer;

}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    margin-right: 25px;
    color: #757373;
    font-weight: 900;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

li:first-child {
    color: #000000;
}

a {
    text-decoration: none;
}

.social-icons {
    margin-top: 23px;
}

.facebook {
    width: 17px;
    height: 21px;
    margin-right: 28px;
}

.google {
    width: 31px;
    height: 25px;
    margin-right: 28px;
}

.vk {
    width: 25px;
    height: 25px;
    margin-right: 28px;
}

.youtube {
    width: 23px;
    height: 25px;
    margin-right: 28px;
}

.linkedin {
    width: 27px;
    height: 25px;
    margin-right: 28px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-banner {
    background-image: url('images/main-banner-img.png');
    width: 1600px;
    height: 640px;
    display: flex;
    justify-content: center;
}

.main-banner-wrapper {
    width: 1000px;
    margin-top: 180px;
}

.main-banner-wrapper h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
    color: #474747;
    text-align: center;
    width: max-content;
    margin-bottom: 0;
}

.main-banner-wrapper p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #3f3f3f;
    margin-left: 60px;
}

.main-banner-wrapper button {
    background: #1a9bdc;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 180px;

}

.main-banner-wrapper button:hover {
    box-shadow: 1px 5px 10px grey;
    cursor: pointer;
}

.main-banner-wrapper button:focus {
    outline: none;
}

.service-container {
    display: flex;
}

.service-box {
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    transition: all 0.5s;
}

.service-box:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 2px 20px #3f3f3f;
    
}


.service-box.box-1 {
    background: #43b1d2;
}

.service-box.box-2 {
    background: #3fb6c6;
}

.service-box.box-3 {
    background: #3cbbbb;
}

.service-box.box-4 {
    background: #37c3a8;
}

.service-box-icon {
    width: 78px;
    height: 78px;
    background-color: white;
    border-radius: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-box h1 {
    text-transform: capitalize;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.service-box p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 0 50px;
    text-align: center;
}

.advantages {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 35px;
}

.advantages h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-transform: capitalize;
    color: #494949;
}

.advantages p {
    font-family: 'Open Sans', sans-serif;
    color: #494949;
    font-size: 16px;
}

.advantages-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages-container-column {
    display: flex;
    flex-direction: column;
}

.advantages-container-column-section-icon {
    width: 76px;
    height: 77px;
    background-color: #1a9bdc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages-container-column-section h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #6f6f6e;
}

.advantages-container-column-section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #6a6a6a;
    line-height: 1.875;
}