@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    margin: 0;
    background-color: #000000;
}

header {
    background-image: url('images/bg_01.jpg');
    height: 738px;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.logo {
    color: #ffffff;
    font-size: 40.36px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.yellow-logo {
    color: #ffc61a;
    font-size: 40.36px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.logo-slogan {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    display: flex;
}

.header-menu-list {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    list-style-type: none;
    margin: 0;
    text-transform: uppercase;
}

li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;

}

li:first-child {
    color: #000000;
    border: 2px solid #ffdb00;
    background-color: #ffdb00;
    border-radius: 20px;
    font-weight: bold;
    padding: 2px 20px;
}

.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}

.booking-message {
    font-family: 'Lato', sans-serif;
    color: #ffdb00;
    font-size: 35.74px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.booking-phone-number {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 72.26px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.header-image {
    display: flex;
    justify-content: center;
}

.img {
    width: auto;
    height: 540px;
}

main {
    height: 700px;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    justify-content: center;
}

.description-section {
    background-color: #ffc61a;
    display: flex;
    justify-content: center;
    padding-top: 178px;
    padding-bottom: 103px;
}

.description-section-content {
    max-width: 580px;
}

.description-section-content h3,
h1,
p,
button {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.description-section-content h3,
h1,
button {
    text-transform: uppercase;
}

.description-section-content h3,
h1 {
    font-weight: 900;
}

.description-section-content h3 {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 25px;
}

.description-section-content h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 40px;
}

.description-section-content p {
    font-size: 18px;
    margin-bottom: 60px;
}

.description-section-content button {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    font-size: 20px;
}

.our-tariffs-section {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 75px;
}

.our-tariffs-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-tariffs-section-title h3 {
    color: #ffc61a;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    margin:0;
}

.our-tariffs-section h2 {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    margin:0;
}

.our-tariffs-section-container {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}

.our-tariffs-section-economy-class-container {
    position: relative;
    background-color: #f5f4f2;
    width:375px;
    height: 425px;
    margin-right: 40px;
}

.our-tariffs-section-standard-class-container {
    background-color: #ffc61a;
    width:375px;
    height: 425px;
    margin-right: 40px;
}

.our-tariffs-section-business-class {
    background-color: #f5f4f2;
    width:375px;
    height: 425px;
}

.our-tariffs-car-img {
    position: absolute;
    top: -80px;
    left: 37px;
}

.our-tariffs-section-economy-class-container h3 {
    font-family: 'Lato', sans-serif;
    font-size: 31px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;
}

.our-tariffs-section-economy-class-container p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0 5px;
    text-align: center;
    margin-bottom: 40px;
}

.our-tariffs-text-container {
    margin: 100px 36px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-tariffs-section-economy-class-container h2 {
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #ffc61a;
    margin-bottom: 40px;
}

.our-tariffs-section-economy-class-container button {
    background-color: #ffc61a;
    border: 0;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}
