body {
    background-color: #202020;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #787878;
    margin: 1px;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;
}

.border {
    display: inline-block;
    border: 5px solid #484848;
}

.font-color {
    color: #ffffff;
}